*{
    margin:0;
    padding:0;
    /* background-color: rgb(202, 159, 241); */
    box-sizing: border-box;
}

body{
    display:grid;
    place-items: center;
    min-height: 50vh;

}

.textContainer{
    background-color: beige;
    height: 20vh;
    width:40vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20vh;
    width:40vw;
}

.property {
    color:white;
    display: flex;
    align-items: flex-start;
    margin:1rem 0;
    column-gap:1;
}

.textContainer input
.textContainer button {
    flex-basis: 70%;
    font-size: 1rem;

}